row {
    display: flex;
}
form-group{
    display: flex;
}
#search{
    display: flex;
    padding-left: 250px;
    padding-top: 35px;
}
/* =============== Logo leftArea =============== */
#frameHead {
	width: 100%;
	min-width: 800px;
	position: absolute;
	top:0px;
	left:0px;
	z-index:10;
}



.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-top: -1px;
}
.dropdown-submenu {
	position: relative;
	}

// #frameProducts{
// 	width: 100%;
// 	// min-width: 800px;
// 	position: relative;
// 	// top:0px;
// 	left:0px;
// 	z-index:10;
// }
// #logoArea{
// 	position: absolute;
// }
// #frameService{
// 	width: 100%;
// 	// min-width: 800px;
// 	position:relative;
// 	// top:0px;
// 	left:0px;
// 	z-index:10;
// 	height: inherit;
// }




#logoArea h1,
#logoArea h2,
#logoArea h3 {
	display: inline;
	vertical-align: bottom;
}
#logo {
	position:absolute;
	top:8px;
	left:15px;
	text-align: left;
	height: 30px;
	line-height: 30px;
}
#logoArea {
	background: #fff url(/img/header/logoBG.gif) repeat-x top left;
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	min-width: 800px;
	height: 48px;
}
#modelName {
	padding: 0 10px;
	color: #474747;
	font: 900 normal 20px arial, helvetica;
}
#tradeName {
	padding: 0;
	color: #474747;
	font: 16px arial, helvetica;
	margin: 0;
}
/* =============== rightArea =============== */
#rightArea {
	background: url(/img/header/headerBG.gif) repeat-x left top;
	// width: 850px;
	height: 48px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index:100;
}



.headerSlope {
	width: 140px;
	display: inline;
	float: left;
}
// #rightAreaBox {
// 	width: 300px;
// 	padding: 3px;
// 	float: right;
// }

.float-r{
	display: flex;
	float:right;
	
}

// .float-r1{
//     display: flex;
//     float:right;
// }
// 
.float-r > li::after{
	content: '';
		width: 0%;
		height: 1px;
		background: #35a22c;
		display: block;
		transition: all 0.5s;}
		.float-r > li:hover:after {
		  /* text-decoration: underline;
		  transition: all 2s; */
		  width: 100%;
		}
.float-r>li{
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	list-style: none;
}
// .float-r1>li{
// 	color: white;
// 	padding-right: 20px;
// 	padding-left: 20px;
// 	list-style: none;
// }
// carousel
#carouselId{
height:410px;
}

#frameProducts{
 	width: 100%;
 	top : 440px;
 	left: 0px;
 	position: absolute;
 	z-index: 100;
 }
 #searchProducts{
 	top:60px;
 	position: relative;
 }
// ******service*******//
#frameService{
	width: 100%;
	top:1350px;
	position: absolute;
	z-index: 100;
}
#iconService{
	padding-top: 100px;
	padding-left: 200px;
}

#frameSupport{
	width: 100%;
	top:1920px;
	position: absolute;
	z-index: 100;
}
