/* GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open-sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleways', sans-serif;
    color: #060606;
}

p {
    font-weight: 300;
    line-height: 27px;
    color: #707070;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        @extend a
    }
}

ul {
    li {
        list-style: none;
    }
}

body {
    button,
    a,
    .btn {
        transition: all .5s;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}