// header
.cf-header {
	padding-top: 20px;
    border-bottom:solid 1px #0056a8;
    padding-bottom: 42px;
}
.cf-left-title {
	width:auto;
	background:#0056a8;
	color:#fff;
	line-height:42px;
	font-size:18px;
	position:relative;
	margin:0;
	padding-left:50px;
	
}
.cf-left-title:after {
    	position:absolute;
     	content:"";
     	right: -42px;
     	border: 21px solid transparent;
     	border-bottom: 21px solid #0056a8;
     	border-left: 21px solid #0056a8;	
     }
.pull-left {
	float:left;
}
.pull-left {
	margin-left:0 !important;
}
.sub-cat {
    display: flex;
    margin: 0;
    line-height: 45px;
    margin-left: 100px;
    float: right;
    padding-top: 10px;
}
.sub-cat>span:hover {
    color:blue;
    line-height: 110%;
    
}
 
/* -- Products Check Box -- */
#printersTopBody{
    padding-top: 20px;
    padding-bottom: 20px;
}
#pdCheckBox{
	color:#FFF;
	/* margin-top:5px; */
	background-color:#494e52;
	font-size: 13px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}
#pdCheckBoxTop{
	/* background:url(/products/copier/common/img/bg_checkbox_top.gif) center top no-repeat; */
	height:5px;
}
#pdCheckBoxList{
	/* background:url(/products/copier/common/img/bg_checkbox_bottom.gif) center bottom no-repeat; */
	padding-bottom:10px;
    /* display: flex; */
}
.clearfix{
    display: flex;
}
#pdCheckBox ul{
	/* background:url(/products/copier/common/img/bg_checkbox_line.gif) left top repeat-y; */
	margin:3px 0 0 15px;
	padding:2px 0 0 0;
}
#pdCheckBox ul li{
	/* float:left; */
    /* display: flex; */
	padding-left:15px;
}
#pdCheckBox ul li ul{
	background:none;
	margin:0;
	padding:0;
}
#pdCheckBox ul li ul li{
	float:none;
	padding:0;
	margin:5px 0 0 0;
}
#pdCheckBox ul li ul li input{
	margin-right:5px;
}
#pdCheckBox ul li dl dt{
	font-family: 'Droid Sans', sans-serif;
	font-size:108%;
	font-weight:bold;
}
#pdCheckBox ul li#sec00{
	padding-left:10px;
	width:160px;
}
#pdCheckBox ul li#sec01{
	padding-left:0;
	width:93px;
}
#pdCheckBox ul li#sec02{
	width:105px;
}
#pdCheckBox ul li#sec03{
	width:152px;
}
#pdCheckBox ul li#sec04{
	width:155px;
}
#pdCheckBox ul li#sec05{
	width:138px;
}
#pdCheckBox ul li#sec06{
	width:160px;
}
#pdCheckBox ul li#sec07{
	padding-left:17px;
	width:165px;
}
#sec07 input{
	width:133px;
	line-height:21px;
	color: #333;
}

